@model IEnumerable<Hospital.Models.Medication>

@{
    ViewData["Title"] = "Medications";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DescriptionSortParm">
                    @Html.DisplayNameFor(model => model.MedicationDescription)
                </a>
            </th>
            <th class="text-end">
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CostSortParm">
                    @Html.DisplayNameFor(model => model.MedicationCost)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageSize)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.UnitsUsedYtd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPrescribedDate)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationDescription)
            </td>
            <td class="text-end">
                @Html.DisplayFor(modelItem => item.MedicationCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageSize)
            </td>
            <td class="text-end">
                @Html.DisplayFor(modelItem => item.UnitsUsedYtd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPrescribedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
